.row-div2{
    text-align: center;
    padding: 10px;
}

.con{
    margin-top: 10px;
}
.div-cls{
    padding: 10px;
}
.ap{
    background-color: #281c5f;
}
#ta{
    width:100%;
}
input{
    
    width: 80%;
}
#ss{
    width: 200px;
}

.btn{
    color: #f47f24;
    border-color: #f47f24;
}
.div-cls >button:hover{
    background-color: #f47f24;
    color: white;
}

/**navigation css start*/
.navitem {
    background-color: #281c5f;
    position: sticky;
    top: 0px;
}


.sidenav {
    background-color:#39229f;

}
.profile{
   padding-right: 50px;
}
/**navigation css end*/

.form-control {
    
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-control:focus, .form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #f47f24; }